.Comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 6rem 0;
  &__Left {
    .Comment {
      padding: 2rem;
      width: 450px;
      background-color: $clr-secondary-medium;
      border-radius: 10px;
      &__User {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        img {
          width: 80px;
        }
        &--avatar {
          position: relative;
          .country {
            position: absolute;
            width: 40px;
            bottom: -10px;
            right: -10px;
          }
        }
        &--Information {
          margin-left: 1.5rem;
          p {
            color: #2998fa;
          }
        }
      }
    }
  }
  &__Right {
    margin-left: 3rem;
    text-align: right;
    h2 {
      color: $clr-primary-medium;
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    p {
      padding-left: 7rem;
      font-size: 1.2rem;
    }
  }
}
