// Font Family
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Roboto", sans-serif;

// Font Weight
$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;
$fw-black: 900;

//Font Size
$fs-h1: 4rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

// Colors
$clr-primary-dark: #116149;
$clr-primary-medium: #13aa52;
$clr-primary-light: #e6f6ed;
$clr-secondary-dark: #121f3d;
$clr-secondary-medium:#1C2D56;
$clr-shadow: 0 4px 6px rgba(17, 97, 73, 0.5);

$clr-light: #fff;
$clr-grey-light: #f2f3f5;
$clr-grey: #41484e;
$clr-grey-dark: #363636;
$clr-dark: #000;

$clr-success: #69af00;
$clr-error: #ff3333;
